/*
    Nuestro fichero de CSS
*/
body {
background-color: #f8f9fa;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
}

ul li {
    list-style: none;
}

main {
  min-height: 50vh;
}

footer a{
    text-decoration: none;
    color:white;
}

footer a:hover {   
   color: #cbd3da;
}

/* header {
    height:50vh;
    background-image: url("/bootstrap/img/cat-two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.marco{
    border:1px solid #333;
    background-color: #ddd;
    color:#333;
    padding: 20px;
    text-align: center;
} 

/*Para todos los que empiecen por col*/
/*.row div[class^="col"] {
    ...
}*/
main:before{
    content:"Mobile first";
} 

.box {
    width: 100px;
    height:100px;
    background-color: #DDD;
    display: inline-block;
    border:1px solid crimson;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
   
    main:before{
        content:"Small device 576";
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    main:before{
        content:"Medium device 768";
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    main:before{
        content:"Large device 992";
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
 @media (min-width: 1200px) {
    main:before{
        content:"Extra large device 1200";
    }
 } 

 header {
    position: relative;
    background-color: black;
    height: 80vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }